@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    padding: 5px 10px;
    background-color: rgb(173, 185, 211);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftside {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Logo */

.logo {
    cursor: pointer;
    margin: 0px 10px;
}

/* Search Bar */

.searchbar {
    padding: 13px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox {
    width: 200px;
    background-color: white;
    margin-left: 10px;
    border: none;
}

/* Center  */

.center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sections {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Sections */

.sections input {
    display: none;
}

label {
    cursor: pointer;
    font-size: 40px;
    padding: 0px 50px;
    border-radius: 10px;
}

label:hover {
    background-color: whitesmoke;
}

input:checked + label {
    background-color: rgb(237, 240, 245);
    border-bottom: 3px solid blue;
}

/* Right Side */

.rightside {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.rightside div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}

.rightside div:hover {
    background-color: rgb(237, 240, 245);
}

.photo > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menubar {
    display: none;
}

/* About */

.about {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    height: 75vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

/* Media Queries */

@media (max-width: 1150px) {
    .searchbar > input {
        display: none;
    }

    .menubar {
        display: block;
    }

    .sections {
        display: none;
    }
}